html, body{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    background-color: #dd99ff;
    margin-top: 0;
    padding: 0;
    font-size: 0;
}
li{
    display: inline-block;
    list-style-type: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
a {
    display: inline-block;
    text-decoration: none;
    padding: 30px;
    color: white;
    font-family: Serif;
    font-size: 20px;
    text-shadow: 1px 1px blue;
}
a:hover {
    background-color: blueviolet;
}
a:active{
    background-color: aqua;
}
#abu{
    background-color: #A8C8E9;
}

h1{
    color: white;
    text-align: center;
    font-family: Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px blueviolet;
    font-size: 40px;
}

.headAU{
    margin: 20px;
    background-color: #dd99ff;
    border-radius: 60px;
}

body{
    background-color: #DCD9D9;
}

.AUtext{
    background-color: #dd99ff;
    margin-left: 0;
    margin-right: 0;
}
#img {
    text-align: center;
    max-width: 100%;
}
img {
    width: 600px;
    height: 400px;
}
pre {
    color: black;
    font-family: Geneva, Verdana, sans-serif;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;  
    background-color: white;
    font-size: 20px;
    text-shadow: 1px 1px darkblue;
}

.small{
    padding-right: 3%;
    font-size: 20px;
    color: white;
    text-align: end;
}