html, body{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    background-color:rgb(44,23,83) ;
    margin-top: 0;
    padding: 0;
    font-size: 0;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
}
li{
    display: inline-block;
    list-style-type: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -20px;
    margin-bottom: -20px;
}
a {
    display: inline-block;
    text-decoration: none;
    padding: 30px;
    color: white;
    font-family: Serif;
    font-size: 20px;
    text-shadow: 1px 1px blue;
}
a:hover {
    background-color: blueviolet;
}
a:active{
    background-color: aqua;
}
#da{
    background-color: #A8C8E9;
}

.intro{
    margin-top:100px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
    background-color: #2B042A;
    text-align: center;
}
form {
    text-shadow: 1px 1px 4px black;
    margin-bottom: 0;
}
h1{
    text-shadow: 3px 3px 6px black;
    font-family: Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    font-size: 60px;
    text-align:center;
    vertical-align: middle;
}

pre{
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 20px;
}

body{
    background-color: rgb(153,120, 168);
    background-image: url('space.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.questions{
    padding-top: 3%;
    background-color:  #6321BF;
    background-color: rgb(63, 93, 149);
}

.kilog{
    padding-left: 4%;
}

label{
    text-shadow: 0.8px 0.8px darkblue;
    border-color: darkblue;
    font-family: Serif;
}
p{
    text-shadow: 0.8px 0.8px darkblue;
    border-color: darkblue;
    font-family: Serif;
}
div {
    margin-bottom: 0;
}
button {
    font-size: 20px;
    font-family: Serif;
    text-shadow: 0.8px 0.8px darkblue;
    border-style: double;
    border-color:blue;
    width: 90px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
}
#buttonCenter{
    text-align: center;
    padding-bottom: 20px;
}
div{
    padding-left: 30px;
}
#questionsWrapper{
    text-align: center;
    font-size: 30px;
    margin-left: 200px;
    margin-right: 200px;
}
#gender{
    font-size: 25px;
    
}
#Weight, #Height, #Age
{
    font-size: 20px;
    
}
#elementid{
    background-color: rgb(63, 93, 149);
    font-size: 30px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}