html, body{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    background-color: #dd99ff;
    margin-top: 0;
    padding: 0;
    font-size: 0;
}
li{
    display: inline-block;
    list-style-type: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
a {
    display: inline-block;
    text-decoration: none;
    padding: 30px;
    color: white;
    font-family: Serif;
    font-size: 20px;
    text-shadow: 1px 1px blue;
}
a:hover {
    background-color: blueviolet;
}
a:active{
    background-color: aqua;
}
#dga{
    background-color: #A8C8E9;
}