html, body{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    background-color: rgb(44,23,83);
    margin-top: 0;
    padding: 0;
    font-size: 0;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
}
li{
    display: inline-block;
    list-style-type: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
a {
    display: inline-block;
    text-decoration: none;
    padding: 30px;
    color: white;
    font-family: Serif;
    font-size: 20px;
    text-shadow: 1px 1px blue;
}
a:hover {
    background-color: blueviolet;
}
a:active{
    background-color: aqua;
}
#dga{
    background-color: #A8C8E9;
}
pre{
    margin-top: 3%;
    background-color: #A8C8E9;
    height: 40px;
    text-shadow: 0.8px 0.8px darkblue;
    font-size: 20px;
    border-style: dotted;
    border-color: darkblue;
    font-family: Serif;
    padding-top: 14px;
}

input, label{
    text-shadow: 0.5px 0.5px darkblue;
    font-size: 10px;
}
body {
    background-image: url('space.png');
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    width: 80px;
    height: 30px;
    font-size: 20px;
    font-family: Serif;
    background-color: blue;
    color: white;
    text-shadow: 1px 1px black;
    border-style:double;
    border-color: #A8C8E9;
    margin-bottom: 30px;
}
div {
    text-align: center;
    background-color: rgb(63, 93, 149);
    margin: 200px;
    margin-top: 40px;
    margin-bottom: 70px;
}
h1{
    background-color: #A8C8E9;
    border-radius: 35px;
    text-align: center;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 100px;
    margin-bottom: 5px;
    text-shadow: 2px 2px darkblue;
    font-size: 90px;
}
#result {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #A8C8E9;
    height: 70px;
    font-family: Serif;
    font-size: 20px;
}
input[type=radio] {
    width: 20px;
    height: 20px;
}
label {
    color: black;
    font-size: 25px;
}

.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /*padding: 20px 20px 20px 20px;*/
    /*margin-top: 100px;*/
    align-items: center;
    margin: 0;
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 600px; /* Could be more or less, depending on screen size */
    border: 1px solid #888;
    height: 400px;

  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 10%;
    font-weight: bold;

  }
  #merg {
    margin: 100px;
  }
  #startingText {
    color: white;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    font-size: 30px;
  }